<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TovarniyChek.Properties.Settings.Setting" connectionString="Data Source=E:\Projeckt2012\www\TovarniyChek\TovarniyChek\TovarniyChek\App_Data\ChekBases.sdf;Persist Security Info=True" />
        <add name="TovarniyChek.Properties.Settings.ChekBasesConnectionString"
            connectionString="Data Source=|DataDirectory|\App_Data\ChekBases.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
